<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.luern0313.wristbilibili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".service.DownloadService"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MenuActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.VideoActivity" />
        <activity android:name=".ui.FollowmeActivity" />
        <activity android:name=".ui.SupportActivity" />
        <activity android:name=".ui.JoinqqActivity" />
        <activity android:name=".ui.OpensourceActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.QRActivity" />
        <activity android:name=".ui.ImgActivity" />
        <activity android:name=".ui.LogsoffActivity" />
        <activity android:name=".ui.FavorVideoActivity" />
        <activity android:name=".ui.FavorArticleActivity"/>
        <activity android:name=".ui.UserActivity" />
        <activity android:name=".ui.SueActivity" />
        <activity android:name=".ui.ReplyActivity" />
        <activity android:name=".ui.TailActivity" />
        <activity android:name=".ui.TextActivity" />
        <activity android:name=".ui.CheckreplyActivity" />
        <activity android:name=".ui.PlayerActivity" />
        <activity android:name=".ui.SendDynamicActivity" />
        <activity android:name=".ui.SelectPartActivity" />
        <activity android:name=".ui.BangumiActivity" />
        <activity android:name=".ui.ArticleActivity" />
        <activity android:name=".ui.UnsupportedLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bilibili" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DynamicDetailActivity"/>
        <activity android:name=".ui.ThemeActivity"/>
    </application>

</manifest>