<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.luern0313.wristbilibili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".service.DownloadService"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MenuActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.VideodetailsActivity" />
        <activity android:name=".ui.FollowmeActivity" />
        <activity android:name=".ui.SupportActivity" />
        <activity android:name=".ui.JoinqqActivity" />
        <activity android:name=".ui.OpensourceActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.QRActivity" />
        <activity android:name=".ui.ImgActivity" />
        <activity android:name=".ui.LogsoffActivity" />
        <activity android:name=".ui.FavorvideoActivity" />
        <activity android:name=".ui.OtherUserActivity" />
        <activity android:name=".ui.SueActivity" />
        <activity android:name=".ui.ReplyActivity" />
        <activity android:name=".ui.TailActivity" />
        <activity android:name=".ui.TextActivity" />
        <activity android:name=".ui.CheckreplyActivity" />
        <activity android:name=".ui.PlayerActivity" />
        <activity android:name=".ui.SendDynamicActivity" />
        <activity android:name=".ui.SelectPartActivity"></activity>
    </application>

</manifest>